body{
	background-color:rgb(204,204,204)
}
li{
	list-style-type:none;
}
a{
	text-decoration-line: none;
}
audio{
	background-color: rgb(255, 255, 255);
	padding:2px;
	border-radius:10px;
}
video{
	background-color: rgb(255, 255, 255);
	padding:2px;
	border-radius:10px;
}



